.App {
  background-color: #03040B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

@font-face {
  font-family: "PoppinsExtraLight";   /*Can be any text*/
  src: local("PoppinsExtraLight"),
    url("./fonts/Poppins-ExtraLight.ttf") format("truetype");
    
}
@font-face {
  font-family: "PoppinsRegular";   /*Can be any text*/
  src: local("PoppinsRegular"),
    url("./fonts/Poppins-Regular.ttf") format("truetype");
    
}
@font-face {
  font-family: "CaveatMedium";   /*Can be any text*/
  src: local("CaveatMedium"),
    url("./fonts/Caveat-Medium.ttf") format("truetype");
    
}